<%= render @friend %>

<div>
  <br>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary" %>
  <%= link_to "Back to friends", friends_path, class:"btn btn-dark" %>
  <br><br>
  <%= button_to 'Delete', @friend, method:  :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
<br</div>

<!-- <div class="container text-center" style="margin-top: 50px;">
  <div class="row align-items-center">
    <div class="col">
      < %= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary" %> FIX OPEN TAG TO GET CODE BACK
    </div>
    <div class="col">
      < %= link_to "Back to friends", friends_path, class:"btn btn-dark" %> FIX OPEN TAG TO GET CODE BACK
    </div>
  </div>
</div> -->
